body {
    background-color: #fcfcfc;
    padding-top: 1em;
    font-family: sans-serif;
}

#body-wrapper {
    min-height: 100vh;
    margin-left: 1em;
    margin-right: 1em;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 95%;
    height: 40vh;
    margin: 100px auto;
    padding: 20px;

}

#drop-area.highlight {
    border-color: black;
    background-color: #fafafa;
}

.upload-form {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploading-wrap {
    display: none;
}

#not-uploading-wrap {
    display: none;
}

#upload-error {
    display: none;
    color: red;
}

.select-files-button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.select-files-button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

#fileElem {
    display: none;
}