html,
body {
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: red;
    background-color: #fcfcfc;


    /* 
    100vh causes a scrollbar. On Chrome/Windows that I tested, 16px is the threshold for
    not showing a scrollbar. Apparently that's due to 8px margin.
    https://stackoverflow.com/questions/44645465/when-using-height-100vh-for-the-container-vertical-scrollbar-appears
    I'm using 24 for margin of safety
    */
    min-height: calc(100vh - 24px);

    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
}

.nav {
    position: fixed;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: row;
}

.name {
    font-weight: bold;
    color: saddlebrown;
    font-size: 120%;
}

.welcome {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#drop-area {
    width: 100%;
    height: 40vh;
    margin: 20px 0;

    border: 2px dashed #ccc;
    border-radius: 20px;
}

#drop-area.highlight {
    border-color: black;
    background-color: #fafafa;
}

.upload-form {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploading-wrap {
    display: none;
}

#not-uploading-wrap {
    display: none;
}

#upload-error {
    display: none;
    color: red;
}

.select-files-button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.select-files-button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

#fileElem {
    display: none;
}

#summary {
    margin-top: 1em;
}

#fileId {
    font-family: monospace;
    font-weight: bold;
}

table.tblList>tr>td {
    padding-right: 1em;
}