html,
body {
    min-height: 100vh;
    font-size: 12pt;
}

body {
    background-color: #fcfcfc;
    padding-top: 1em;
    font-family: sans-serif;
}

.name {
    font-weight: bold;
    color: saddlebrown;
    font-size: 120%;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#body-wrapper {
    margin-left: 1em;
    margin-right: 1em;
}

#drop-area {
    width: 100%;
    height: 40vh;
    margin: 20px 0;

    border: 2px dashed #ccc;
    border-radius: 20px;
}

#drop-area.highlight {
    border-color: black;
    background-color: #fafafa;
}

.upload-form {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploading-wrap {
    display: none;
}

#not-uploading-wrap {
    display: none;
}

#upload-error {
    display: none;
    color: red;
}

.select-files-button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.select-files-button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

#fileElem {
    display: none;
}

#summary {
    margin-top: 1em;
}

#fileId {
    font-family: monospace;
    font-weight: bold;
}

table.tblList>tr>td {
    padding-right: 1em;
}